.icon-carrito {
  color: aliceblue;
  height: 20px;
  width: 20px;
}
nav  ul {
    list-style-type: none;
    padding: 10px;
    background-color: #000000;
    margin:0%;
    display: flex;
    text-align: center;

  }
  .fondo {
    background-image: url(../img/background-image.jpg);
    width: 100%;
    background-repeat: repeat-y;
    background-size: cover;
  }
  /*Página desc del producto */
  .detalle-prod {
    height: 400px;
    width: 250px;
    border-radius: 20px;
  }
  .tarjeta-detalle{
    position: relative;
  }
  .contenedor {
    display: flex;
    position: relative;
    top: 30px;
    left: 50px;
  }
.tarjeta-img {
  width: 200px;
  position: relative;
  display: flex;
}
  .titulo {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 24px;
  }

  body, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  nav li {
    float: left;
  }
  /* BARRA DE N|AVEGACIÓN: TEXTO */
  nav li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
  }
  /* EFECTO DE LA BARRA DE NAVEGACION */
  .first-ul li a:hover {
    background-color: #0167ec;
    transform: scale(1.3); 
    transition: all 0.4s ease-out;
    border-radius: 20px;
  }
  .first-ul li a:not(:hover) {
    transform: scale(1);
    transition: all 0.4s ease-out;
    border-radius: 20px;
}
.navbar-iconos{
  height: 68px;
  display: inline-flex;
}
.navbar-iconos ul li  {
  display: flex;
  position: relative;
  bottom: 8px;
  justify-content: space-between;
}
  .navbar{
    display: inline-flex;
    width: 100%;
    background-color: #000000;
  }
  navbar, .first-ul {
    height: 64px;
  }
  .logo{
    position: relative;
    width: 120px;
  }

  .imagen-home {
    max-width: 100%;
  }
.carrito {
  position: relative;
  width: 70px;
  background-color: aliceblue;
}
 .card-img{
  position: relative;
  display: flex;
  height: 300px;
}
.mx-0 {
  height: 500px;
  display: flex;
}  
.card-detalle-img {

  display: flex;
  height: 300px
}
.row {
  display: flex;
  position: relative;
  margin: 0%;
  padding: 0%;
}